body{
    background: url('https://s3.amazonaws.com/noupe/2009/10/ava7.jpg');
    background-repeat: repeat;
    text-align: center;
    padding-top: 100px;
    
}
h1{
    padding: 10px;
    background-color: slateblue;
    color: red;
    font-size: 40px;
    width: 100px;
    display: inline-block;
   
}
button{
    color: black;
    font-weight: bold;
    padding: 8px;
    width: 100px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: lightgreen;

}
.title{
    font-size: 50px;
    color: black;
    display: inline;
    font-weight: bold;
    text-shadow: 2px 4px red;
    background: none;
}